:root {
  --main-color: #355070; 
  --secondary-color: #b56576;
  --logo-text-color: #fff;
  --body-text-color: #3d3d3d;
  --heading-text-color: #383838;
  --background-color: #fff;
  --toc-font-size: 18px;
}
